
.handle{
    width: var(--width);
    aspect-ratio: 1;
    position: absolute;
    cursor: move;
    border: solid rgba(100%, 100%, 100%, 25%) 1px;
    transform: translate(-50%, -50%);
    font-size: smaller;
    transform-origin: top left;
    z-index: 99;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 100%;

  }
  .cornerHandle{
    background: radial-gradient(circle at calc(var(--width) / 2) calc(var(--width) / 2), var(--color), #000);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .anchorHandle{
    border: solid rgba(100%, 100%, 100%, 75%) 1px;
    background: rgba(75%, 75%, 75%, 0.50);
    z-index: 128;

  }
  .handle p{
    position: relative;
    top: -24px;
  }

  .handle:hover{
    border: dashed white 1px;
  }
  