<h2>1D</h2>
<div class="home-container horizontal-flex">
  <a
    href="https://clementpla.github.io/SegmentationMetricTutorial/main/classification"
  >
    <app-home-card
      imgURL="assets/images/home-cards/metric.png"
      title="Classification Metrics"
    >
    </app-home-card>
  </a>
</div>
<h2>2D</h2>
<div class="home-container horizontal-flex">


  <a routerLink="/fourierTransform">
    <app-home-card title="Fourier Transform 2D"
    imgURL="assets/images/home-cards/fourierTransform.png"
    > </app-home-card>
  </a>
  <a routerLink="/spatialFiltering"
    ><app-home-card title="Spatial Filtering"
    imgURL="assets/images/home-cards/spatial_filtering.png"> </app-home-card>
  </a>

  <a routerLink="/colorspaces"
    ><app-home-card title="Colorspaces"
    imgURL="assets/images/home-cards/colorspace.png"> </app-home-card>
  </a>
  <a
    href="https://clementpla.github.io/SegmentationMetricTutorial/main/segmentation"
  >
    <app-home-card
      imgURL="assets/images/home-cards/segmentation_metrics.png"
      title="Segmentation Metrics"
    >
    </app-home-card>
  </a>
</div>
