<div class="w-full home">
  <h2>1D</h2>
  <div class="flex flex-row flex-wrap gap-4 mx-16 pb-4 section">
    <a routerLink="/sampling">
    <app-home-card
      title="Sampling"
      imgURL="assets/images/home-cards/sampling.png"
    >
    </app-home-card>
  </a>

    <a
      href="https://clementpla.github.io/SegmentationMetricTutorial/main/classification"
    >
      <app-home-card
        imgURL="assets/images/home-cards/metric.jpg"
        title="Classification Metrics"
      >
      </app-home-card>
    </a>
  </div>
  <h2>2D</h2>
  <div class="flex-row flex gap-4 flex-wrap mx-16 pb-4 section">
    <a routerLink="/PSNR">
      <app-home-card
        title="Image Quality and Noise"
        imgURL="assets/image_presets/phantom.png"
      >
      </app-home-card>
    </a>

    <a routerLink="/fourierTransform">
      <app-home-card
        title="Fourier Transform 2D"
        imgURL="assets/images/home-cards/fourierTransform.jpg"
      >
      </app-home-card>
    </a>
    <a routerLink="/spatialFiltering"
      ><app-home-card
        title="Spatial Filtering"
        imgURL="assets/images/home-cards/spatial_filtering.jpg"
      >
      </app-home-card>
    </a>

    <a routerLink="/spectralFiltering"
      ><app-home-card
        title="Spectral Filtering"
        imgURL="assets/image_presets/CTandstripes.jpeg"
      >
      </app-home-card>
    </a>
    <a routerLink="/colorspaces"
      ><app-home-card
        title="Colorspaces"
        imgURL="assets/images/home-cards/colorspace.jpg"
      >
      </app-home-card>
    </a>

    <a routerLink="/morphology"
      ><app-home-card
        title="Morphology"
        imgURL="assets/images/home-cards/morphology.jpg"
      >
      </app-home-card>
    </a>

    <a routerLink="/histogram"
      ><app-home-card title="Image Histogram" imgURL="assets/images/home-cards/histogram.jpg">
      </app-home-card>
    </a>

    <a
      href="https://clementpla.github.io/SegmentationMetricTutorial/main/segmentation"
    >
      <app-home-card
        imgURL="assets/images/home-cards/segmentation_metrics.jpg"
        title="Segmentation Metrics"
      >
      </app-home-card>
    </a>
  </div>
  <h2>Machine Learning</h2>
  <div class="flex-row flex gap-4 flex-wrap mx-16 pb-4 section">
    <a routerLink="/PCA"
      ><app-home-card title="Principal Component Analysis"
        imgURL="assets/images/home-cards/pca.jpg"
      >
      </app-home-card>
    </a>

    <a routerLink="/weightLoss"
      ><app-home-card title="Learning & Loss"
        imgURL="assets/images/home-cards/weight_loss.png"
      >
      </app-home-card>
    </a>

    <a routerLink="/regression"
    >
      <app-home-card title="Regression"
        imgURL="assets/images/home-cards/regression.png"
      >
      </app-home-card>
  </a>

    <a routerLink="/optimizer"
    ><app-home-card title="Gradient Descent & Optimizers"
      imgURL="assets/images/home-cards/gradient_descent.png"
    >
    </app-home-card>
  </a>

    <a routerLink="/gradientDescent"
    ><app-home-card title="Fully Connected Networks"
      imgURL="assets/images/home-cards/neural_network.png"
    >
    </app-home-card>
  </a>



  </div>


</div>
