
.canvas-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  cursor: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.toggle{
  position: absolute;

  color: white;
  z-index: 10;
  background-color: rgba(127,127,127,0.5);
  border-radius: 3px;
  margin: 5px 5px;
  padding: 0px 5px;

}
.BW-toggle{
  top: 0px;
  right: 0px;

}

.Profile-toggle{
  bottom: 0px;
  right: 0px;

}
.title{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  pointer-events: none;
  margin: 5px 5px;
  background-color: rgba(127,127,127,0.5);
  color: white;
  padding: 0px 5px;
  border-radius: 3px;
}

.canvas-container{
  canvas{
    width: 100%;
    aspect-ratio: 1;
  }
}
.canvas-container > * {
  position: absolute;

  height: inherit;
}

// Cursor
.cursor {
  z-index: 5;
  position: absolute;
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transform-origin: top left;
}

.cursor > .cursor-radius {
  position: relative;
  width: inherit;
  aspect-ratio: 1;
  border-radius: 50%;
  border-style: dashed;
  border-width: 1px;
  pointer-events: none;
  transform-origin: center;
  animation: rotation 20s infinite linear;
  background: radial-gradient(circle,
      white 0%,
      white 5%,
      rgba(100, 100, 100, 0.5) 3%,
      rgba(100, 100, 100, 0.5) 100%);
}

.cursor > mat-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-75%);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
.BWFilter{
  filter: grayscale(1);
}


.handle{
  --width: 24px;
  width: var(--width);
  aspect-ratio: 1;
  border-radius: 100%;
  position: absolute;
  cursor: move;
  border: solid rgba(100%, 100%, 100%, 25%) 1px;
  transform: translate(-50%, -50%);
  font-size: smaller;
  transform-origin: top left;
  z-index: 21;
  display: flex;
  justify-content: center;
  text-align: center;
  background: radial-gradient(circle at calc(var(--width) / 2) calc(var(--width) / 2), #5cabff, #000);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.handle p{
  position: relative;
  top: -24px;
}
#canvasUI{
  pointer-events: none;
}
.handle:hover{
  border: dashed white 1px;
}
