<div
  class="canvas-container"
  (mousemove)="updateHandleDragPos($event)"
  [style.cursor]="this.drawable ? 'none' : 'default'"
>
  @if(title){
  <p class="select-none title">{{ title }}</p>
  } @if(BWOption){<span class="BW-toggle toggle">
    <mat-slide-toggle
      [(ngModel)]="isBWChecked"
      color="primary"
      (change)="BWToggle()"
      >B&W</mat-slide-toggle
    > </span
  >} @if(profileOption){<span class="Profile-toggle toggle">
    <mat-slide-toggle
      [(ngModel)]="profile"
      color="primary"
      (change)="updateCanvasUI()"
      >profile</mat-slide-toggle
    > </span
  >} @if(drawable){
  <div
    #cursor
    class="cursor"
    [style.top.px]="cursorPosition.y"
    [style.left.px]="cursorPosition.x"
    [style.width.px]="getCursorTransform()"
  >
    <div class="cursor-radius" [style.border-color]="drawColor"></div>
    <mat-icon>brush</mat-icon>
  </div>
  }
  <canvas
    #canvas
    id="canvasVisu"
    class="absolute aspect-square w-full"
    [ngClass]="{ BWFilter: isBWChecked || OnlyBW }"
  ></canvas>

  <!-- UI Canvas -->
  <canvas
    #canvasUI
    id="canvasUI"
    [width]="UIwidth"
    class="absolute aspect-square pointer-events-none w-full"
  ></canvas>

  <svg
    #svgUI
    class="absolute aspect-square pointer-events-none w-full"
    [attr.width]="UIwidth"
    [attr.viewBox]="svgViewbox"
  >
    @for (element of svgElements; track element.id){ @switch (element.type) {
    @case ("circle") {
    <circle
      [attr.cx]="element.attributes.cx"
      [attr.cy]="element.attributes.cy"
      [attr.r]="element.attributes.r"
      [attr.stroke]="element.attributes.stroke"
      [attr.stroke-width]="element.attributes['stroke-width']"
      [attr.fill]="element.attributes.fill"
    ></circle>
    } @case ("rect") {
    <rect
      [attr.x]="element.attributes.x"
      [attr.y]="element.attributes.y"
      [attr.width]="element.attributes.width"
      [attr.height]="element.attributes.height"
      [attr.stroke]="element.attributes.stroke"
      [attr.stroke-width]="element.attributes['stroke-width']"
      [attr.fill]="element.attributes.fill"
    ></rect>
    } @case ("line") {
    <line
      [attr.x1]="element.attributes.x1"
      [attr.y1]="element.attributes.y1"
      [attr.x2]="element.attributes.x2"
      [attr.y2]="element.attributes.y2"
      [attr.stroke]="element.attributes.stroke"
      [attr.stroke-width]="element.attributes['stroke-width']"
    ></line>
    } 
  } }
  </svg>

  <!-- Profile Handles -->
  <div [ngClass]="{ hidden: !this.profile }" class="absolute">
    <app-handle
      #handleProfile
      class="handle"
      [handlePos]="{ x: 50, y: 100 }"
      [scale]="getScreenToCanvasScale()"
    >
    </app-handle>
    <app-handle
      #handleProfile
      class="handle"
      [handlePos]="{ x: 250, y: 100 }"
      [scale]="getScreenToCanvasScale()"
    >
    </app-handle>
  </div>

  <!-- ROI HANDLE -->

  <app-roi
    #ROI
    [point1]="r.initial1"
    [point2]="r.initial2"
    [scale]="getScreenToCanvasScale()"
    [property]="r"
    *ngFor="let r of roi"
  >
  </app-roi>
</div>
