<mat-toolbar class="hide-smallscreen" color="primary">
  <mat-toolbar-row>
    <span>Colorspaces</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="options-bar horizontal-flex">
  <button mat-raised-button color="warn" (click)="drawingCanvas.clearCanvas()">
    Clear
  </button>
  <button
    type="button"
    mat-raised-button
    color="primary"
    (click)="fileInput.click()"
  >
    Load image
  </button>
  <input
    hidden
    #fileInput
    type="file"
    (change)="loadSelectedFile($event)"
    accept="images/*"
  />
  <span class="brush-slider"
    >Brush size: {{ brushSizeSlider.value }}
    <mat-slider
      color="primary"
      #brushSizeSlider
      [min]="1"
      [max]="100"
      [step]="1"
      [value]="10"
      thumbLabel
      tickInterval="auto"
    ></mat-slider>
  </span>
  <mat-form-field>
    <input matInput [ngxMatColorPicker]="picker" [formControl]="colorCtr" />
    <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
    <ngx-mat-color-picker #picker [color]="color"></ngx-mat-color-picker>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Choose a colorspace</mat-label>
    <mat-select [(ngModel)]="colorspace" (selectionChange)="updateColorSpace()">
      <mat-option value="RGB">RGB</mat-option>
      <mat-option value="HSV">HSV</mat-option>
      <mat-option value="LAB">LAB</mat-option>
      <mat-option value="YCrCb">YCrCb</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="horizontal-flex center-content">
  <app-draw-canvas
    class="main-canvas"
    [width]="512"
    [drawColor]="colorCtr.value?.rgba"
    #drawingCanvas
    (drawingEnded)="updateColorSpace()"
    [drawable]="true"
    [brushRadius]="brushSizeSlider.value"
    title="Canvas"
    [BWOption]="true"
  >
  </app-draw-canvas>
  <div class="horizontal-flex canvas-grid">
    <app-draw-canvas
      #canvas1
      [width]="512"
      [drawColor]="colorCtr.value?.rgba"
      class="grid-item"
      title="Red"
      [drawable]="true"
      [brushRadius]="brushSizeSlider.value"
      (drawingEnded)="updateInput()"
    ></app-draw-canvas>
    <app-draw-canvas
      #canvas2
      [width]="512"
      [drawColor]="colorCtr.value?.rgba"
      class="grid-item"
      title="Green"
      [drawable]="true"
      [brushRadius]="brushSizeSlider.value"
      (drawingEnded)="updateInput()"
    ></app-draw-canvas>
    <app-draw-canvas
      #canvas3
      [width]="512"
      [drawColor]="colorCtr.value?.rgba"
      class="grid-item"
      title="Blue"
      [drawable]="true"
      [brushRadius]="brushSizeSlider.value"
      (drawingEnded)="updateInput()"
    ></app-draw-canvas>
  </div>
</div>
