<app-tutorial-template-images
[rightDrawer]="false">

  Colorspaces

  <ng-container ngProjectAs="[drawerLeft]">
    <app-labelled-sliders #brushSizeSlider title="Brush Size">
    </app-labelled-sliders>

    <hr/>
    <h2>Brush color</h2>

    <mat-form-field class="fillWidth">
      <input matInput [ngxMatColorPicker]="picker" [formControl]="colorCtr" />
      <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
      <ngx-mat-color-picker #picker [color]="color"></ngx-mat-color-picker>
    </mat-form-field>
    <hr/>
    <h2>Colorspace</h2>

    <mat-form-field appearance="standard" class="fillWidth">
      <mat-label>Choose a colorspace</mat-label>
      <mat-select [(ngModel)]="colorspace" (selectionChange)="updateColorSpace()">
        <mat-option value="RGB">RGB</mat-option>
        <mat-option value="HSV">HSV</mat-option>
        <mat-option value="LAB">LAB</mat-option>
        <mat-option value="YCrCb">YCrCb</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <ng-container ngProjectAs="[centerContent]">
    <app-draw-canvas
    class="main-canvas"
    [width]="256"
    [drawColor]="colorCtr.value?.rgba"
    #inputCanvas
    (drawingEnded)="updateColorSpace()"
    [drawable]="true"
    [brushRadius]="brushSizeSlider.value"
    title="Canvas"
    [BWOption]="true"
  >
  </app-draw-canvas>
  <div class="horizontal-flex canvas-grid">
    <app-draw-canvas
      #canvas1
      [width]="256"
      [drawColor]="colorCtr.value?.rgba"
      class="grid-item"
      title="Red"
      [drawable]="true"
      [brushRadius]="brushSizeSlider.value"
      (drawingEnded)="updateInput()"
    ></app-draw-canvas>
    <app-draw-canvas
      #canvas2
      [width]="256"
      [drawColor]="colorCtr.value?.rgba"
      class="grid-item"
      title="Green"
      [drawable]="true"
      [brushRadius]="brushSizeSlider.value"
      (drawingEnded)="updateInput()"
    ></app-draw-canvas>
    <app-draw-canvas
      #canvas3
      [width]="256"
      [drawColor]="colorCtr.value?.rgba"
      class="grid-item"
      title="Blue"
      [drawable]="true"
      [brushRadius]="brushSizeSlider.value"
      (drawingEnded)="updateInput()"
    ></app-draw-canvas>
  </div>
  </ng-container>

</app-tutorial-template-images>
