.graph{
  aspect-ratio: 1;
  width: 30vw;
  background-color: rgb(255, 255, 255);
  border-radius: 0.25em;
  border-color: black;
  margin: 5%;
}
.label-container{
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;

}

.parameter-adjusting{
  margin: 5px;
  border-radius: 0.5em;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
