<app-tutorial-template [rightDrawer]="true">

<ng-container ngProjectAs="[centerContent]">
    <div class="grid grid-cols-2 w-full">
    <div

        echarts
        [options]="scatterChartOptions"
        (chartInit)="onScatterChartInit($event)"
        (mousemove)="onChartMouseOver($event)"
        class="aspect-square w-5/6"
    ></div>
    <canvas #reconstructionCanvas class="antialiased border border-black w-3/4" [width]="28" [height]="28"></canvas>
    </div>
</ng-container>

</app-tutorial-template>