<app-tutorial-template
  [rightDrawer]="false"
  [leftDrawer]="false"
  [tutorial]="true"
  [leftDrawer]="true"
>
  <ng-container ngProjectAs="[tutorialTitle]">
    Autoencoder Tutorial
  </ng-container>

  <ng-container ngProjectAs="[tutorialContent]">
    <p>
      An autoencoder is a type of neural network that is trained to attempt to
      copy its input to its output. Internally, it has a hidden layer that
      describes a code used to represent the input. The network consists of two
      parts: an encoder function that compresses the input into the code, and a
      decoder function that reconstructs the input from the code. Autoencoders
      are used for various applications, including dimensionality reduction,
      image compression, and denoising.
    </p>
   
  </ng-container>
  <ng-container ngProjectAs="[drawerLeft]">
    
    <mat-button-toggle-group
      [(ngModel)]="modelType"
      (ngModelChange)="onModelChange($event)"
      class="w-full"
      color="primary"
      vertical
    >
      <mat-button-toggle value="regular">AE</mat-button-toggle>
      <mat-button-toggle value="sparse">Sparse AE</mat-button-toggle>
      <mat-button-toggle value="variational">Variational AE</mat-button-toggle>
      <mat-button-toggle value="cvae">Conditional VAE</mat-button-toggle>
    </mat-button-toggle-group>

    @if (modelType =='cvae') {

    <app-labelled-sliders
    class="pt-4 w-full"
      [min]="0"
      [max]="9"
      [step]="1"
      [(value)]="conditional"
      title="Conditional digit"
    ></app-labelled-sliders>
    }
  </ng-container>
  <ng-container ngProjectAs="[centerContent]">
    <div class="grid grid-cols-1 md:grid-cols-2 w-full">
      @if (modelType == 'regular' || modelType == 'sparse') {
      <div
        echarts
        [options]="scatterChartOptions"
        (chartInit)="onScatterChartInit($event)"
        (mousemove)="onChartMouseOver($event)"
        (touchmove)="onChartTouchMove($event)"
        class="aspect-square w-full"
      ></div>
      } @else{
      <div
        echarts
        [options]="densityChartOptions"
        (chartInit)="onDensityChartInit($event)"
        (chartMouseOver)="onDensityMouseOver($event)"
        class="aspect-square w-full"
      ></div>
      }
      <canvas
        #reconstructionCanvas
        class="antialiased border border-black w-full"
        [width]="28"
        [height]="28"
      ></canvas>
    </div>
  </ng-container>
</app-tutorial-template>
