<mat-toolbar color="primary">
  <mat-toolbar-row>
    @if (leftDrawer) {<button
      mat-icon-button
      class="example-icon"
      (click)="drawerLeft.toggle()"
    >
      <mat-icon>menu</mat-icon></button
    >}
    <a routerLink="/home" class="show-smallscreen">
      <button mat-icon-button class="example-icon">
        <mat-icon>home</mat-icon>
      </button>
    </a>
    <span>
      <ng-content></ng-content>
    </span>
    @if (rightDrawer){
    <button mat-icon-button class="example-icon" (click)="drawerRight.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    }
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #drawerLeft mode="side" [opened]="leftDrawer">
    <div class="vertical-flex drawer">
      <ng-content select="[drawerLeft]"></ng-content>
    </div>
  </mat-drawer>

  <mat-drawer #drawerRight mode="side" [opened]="rightDrawer" position="end">
    <div class="vertical-flex drawer"></div>
    <ng-content select="[drawerRight]"></ng-content>
  </mat-drawer>

  <div class="horizontal-flex drawer-container">
    @if (tutorial) {
    <mat-expansion-panel class="w-5/6">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-content select="[tutorialTitle]"> </ng-content>
        </mat-panel-title>
        <mat-panel-description>
          <ng-content select="[tutorialDescription]"> </ng-content>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-content select="[tutorialContent]"> </ng-content>
    </mat-expansion-panel>
    }
    <ng-content select="[centerContent]"></ng-content>
  </div>
</mat-drawer-container>
