<mat-toolbar class="hide-smallscreen" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon" (click)="drawerLeft.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <ng-content></ng-content>

    <button mat-icon-button class="example-icon" (click)="drawerRight.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #drawerLeft mode="side" opened>
    <div class="vertical-flex drawer centerDrawer">
      <ng-content select="[drawerLeft]"></ng-content>
    </div>
  </mat-drawer>

  <mat-drawer
    #drawerRight
    mode="side"
    opened
    position="end"
  >
    <div class="vertical-flex drawer"></div>
    <ng-content select="[drawerRight]"></ng-content>
  </mat-drawer>

  <div class="horizontal-flex drawer-content">
    <ng-content select="[centerContent]"></ng-content>
  </div>
</mat-drawer-container>
