
/* You can add global styles to this file, and also import other style files */
:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-400: hsl(207, 19%, 61%);
  --clr-neutral-100: hsl(0,0%,100%);
  --clr-accent-400: hsl(142, 90%, 61%);
  --card-width:35ch;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.horizontal-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.vertical-flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

mat-drawer-container{
  height: calc(100vh - 2 * 64px) ; // We remove twice the side of the toolbar
}


.center-content{
  align-items: center;
  justify-content: center;
}

mat-toolbar-row{
  span{
    width: 100%;
    text-align: center;
  }
}

mat-drawer{
  max-width: 50vw;
}
.drawer{
  width: 80%;
  margin: 10px;
}


hr {
  display: block;
  margin: 10px 0 10px 0;
  border-top: 1px solid rgba(0, 0, 0, .12);
  width: 100%
}

@media (max-width:800px) {
  .hide-smallscreen{
    display: none !important;
  }

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
